body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#filters {
    margin: 20px;
}

#temple-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.temple-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 250px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
